# Super Spreaders

Super spreader finds out wnich tweet was retweeted by most people.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown as md

# Define the path to your text file
file_path = './Data/twitter16/label.txt'

# Initialize empty lists to store the data
labels = []
values = []

# Read the file line by line and extract the data
with open(file_path, 'r') as file:
    for line in file:
        line = line.strip()  # Remove any leading/trailing whitespace
        label, value = line.split(':')  # Split the line into label and value
        labels.append(label)
        values.append(int(value))  # Convert the value to an integer

# Create a DataFrame from the lists
df = pd.DataFrame({'Label': labels, 'SourceTweetID': values})

# Optionally, you can filter the DataFrame based on specific labels:
df_filtered = df[df['Label'].isin(['true', 'false'])]

distinct_labels = df['Label'].unique()
print(distinct_labels)

# Display the DataFrame
df_filtered

['false' 'true' 'unverified' 'non-rumor']

     Label       SourceTweetID
0    false  656955120626880512
1     true  615689290706595840
2    false  613404935003217920
5     true  614467824313106432
9    false  622891631293935616
..     ...                 ...
799   true  552806757672964097
801   true  544350567183556608
805   true  614593386188828672
811   true  650046859537448960
814   true  544269749405097984

[412 rows x 2 columns]

## Getting Maximum Length Of Rumors That Is True For Twitter 16

In [2]:
# df_filtered_true = df_filtered[df_filtered['Label'].isin(['true'])]
# len(df_filtered_true['SourceTweetID'].unique())
rumor_tweet_id= df_filtered['SourceTweetID'].unique()
# len(df_filtered_true['SourceTweetID'])

In [3]:
int("517850508380618752")  in rumor_tweet_id

False

In [4]:
import os
import pandas as pd

# Define the path to your folder containing files
folder_path ='./Data/twitter16/tree' #'./Data/testtree'


# Initialize empty lists to store the extracted data
sender_uid = []
sender_tweet_id = []
sender_post_time_delay = []
receiver_uid = []
receiver_tweet_id = []
receiver_post_time_delay = []
counter=0
# Iterate through the files in the folder
for filename in os.listdir(folder_path):
#     counter=counter+1
#     if counter>10000:
#         break
    file_path = os.path.join(folder_path, filename)
    if int(filename.replace(".txt","")) in rumor_tweet_id: 
        #print(filename.replace(".txt","") ,' is present')
            # Open and read each file
        with open(file_path, 'r') as file:
            for line in file:
                # Split the line to extract the sender and receiver data
                sender_data, receiver_data = line.strip().split('->')

                sender_values = sender_data.strip('[]').replace("'", "").split(', ')
                receiver_values = receiver_data.strip('[]').replace("'", "").split(', ')

                sender_uid.append(sender_values[0])
                sender_tweet_id.append(sender_values[1])
                sender_post_time_delay.append(float(sender_values[2]))

                receiver_uid.append(receiver_values[0])
                receiver_tweet_id.append(receiver_values[1])
                receiver_post_time_delay.append(float(receiver_values[2]))
        
    #else: 
        #print(filename.replace(".txt","") ,' is NOT present')
    
    


# Create a DataFrame from the extracted data
df_Joined = pd.DataFrame({
    'sender_uid': sender_uid,
    'sender_tweet_id': sender_tweet_id,
    'sender_post_time_delay': sender_post_time_delay,
    'receiver_uid': receiver_uid,
    'receiver_tweet_id': receiver_tweet_id,
    'receiver_post_time_delay': receiver_post_time_delay
})
df_Joined = df_Joined[df_Joined['sender_uid'] != 'ROOT']
# Print the DataFrame
df_Joined

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay
1,24165761,498430783699554305,0.0,33164207,498430783699554305,0.30
2,24165761,498430783699554305,0.0,203957378,498430783699554305,1.00
3,24165761,498430783699554305,0.0,475947737,498430783699554305,1.00
4,24165761,498430783699554305,0.0,367810627,498430783699554305,2.70
5,24165761,498430783699554305,0.0,144351126,498430783699554305,2.85
...,...,...,...,...,...,...
161999,972651,681767380305985536,0.0,34294546,681767380305985536,626.48
162000,972651,681767380305985536,0.0,19058535,681767380305985536,1644.97
162001,972651,681767380305985536,0.0,20732140,681767380305985536,2088.33
162002,972651,681767380305985536,0.0,2185248516,681767380305985536,2121.45
162003,972651,681767380305985536,0.0,138118047,681767380305985536,3289.62

In [5]:
# df_filtered_true["sender_tweet_id"].unique()
# df_Joined[df_Joined['sender_tweet_id'] == '637868242560638980']
#type(df_Joined['sender_tweet_id'][1])

In [6]:
grouped_df_Joined = df_Joined.groupby("sender_tweet_id").size().reset_index(name="count")
grouped_df_Joined = grouped_df_Joined.sort_values(by="count", ascending=False)
grouped_df_Joined

         sender_tweet_id  count
1037  637868242560638980   3044
682   614610920782888960   2815
981   632377165477191680   2761
1367  651959206287908868   2743
377   553587013409325058   2711
...                  ...    ...
941   626903313401774080      1
936   626742611324178432      1
935   626739652301492226      1
933   626666794401427456      1
2080  755820585276547073      1

[2081 rows x 2 columns]

In [7]:
# Convert the 'column_name' from str to int
grouped_df_Joined['sender_tweet_id'] = pd.to_numeric(grouped_df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
grouped_df_Joined

         sender_tweet_id  count
1037  637868242560638980   3044
682   614610920782888960   2815
981   632377165477191680   2761
1367  651959206287908868   2743
377   553587013409325058   2711
...                  ...    ...
941   626903313401774080      1
936   626742611324178432      1
935   626739652301492226      1
933   626666794401427456      1
2080  755820585276547073      1

[2081 rows x 2 columns]

In [8]:
merged_df = pd.merge(grouped_df_Joined, df_filtered, left_on='sender_tweet_id', right_on='SourceTweetID', how='inner')
merged_df.head(25)

       sender_tweet_id  count  Label       SourceTweetID
0   637868242560638980   3044  false  637868242560638980
1   614610920782888960   2815   true  614610920782888960
2   632377165477191680   2761   true  632377165477191680
3   651959206287908868   2743  false  651959206287908868
4   553587013409325058   2711   true  553587013409325058
5   614054616154550273   2494  false  614054616154550273
6   614617234942656512   2444   true  614617234942656512
7   553590459688570880   2415   true  553590459688570880
8   672433211604013057   2291  false  672433211604013057
9   654343805081157633   2221  false  654343805081157633
10  612646796355960832   2153  false  612646796355960832
11  674364257799004160   2120  false  674364257799004160
12  614595181845839873   2113   true  614595181845839873
13  619242759359037440   2082   true  619242759359037440
14  674263945172119552   1955   true  674263945172119552
15  669259395902152704   1607  false  669259395902152704
16  634404792241143809   1465  false  634404792241143809
17  640644123339431936   1444  false  640644123339431936
18  524936872666353664   1363   true  524936872666353664
19  615494435074363392   1362   true  615494435074363392
20  626898253900943360   1361  false  626898253900943360
21  553587672137334785   1358   true  553587672137334785
22  612741808125120513   1356  false  612741808125120513
23  580348081100734464   1339   true  580348081100734464
24  663817239896821760   1266  false  663817239896821760

In [9]:
count = (merged_df['Label'].head(25) == 'false').sum()
count

13

In [10]:
md("### Count Of Top 25 Super Spreaders That Is False Rumours In Twitter16:  %i "%(count))

### Count Of Top 25 Super Spreaders That Is False Rumours In Twitter16:  13

In [11]:

md("### Top Super Spreaders In Twitter16:  %s "%(merged_df['Label'][0]))

### Top Super Spreaders In Twitter16:  false

# Twitter 15

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown as md

# Define the path to your text file
file_path = './Data/twitter15/label.txt'

# Initialize empty lists to store the data
labels = []
values = []

# Read the file line by line and extract the data
with open(file_path, 'r') as file:
    for line in file:
        line = line.strip()  # Remove any leading/trailing whitespace
        label, value = line.split(':')  # Split the line into label and value
        labels.append(label)
        values.append(int(value))  # Convert the value to an integer

# Create a DataFrame from the lists
df = pd.DataFrame({'Label': labels, 'SourceTweetID': values})

# Optionally, you can filter the DataFrame based on specific labels:
df_filtered = df[df['Label'].isin(['true', 'false'])]

distinct_labels = df['Label'].unique()
print(distinct_labels)

# Display the DataFrame
df_filtered

['unverified' 'non-rumor' 'true' 'false']

      Label       SourceTweetID
4      true  551099691702956032
7      true  514106273852174337
9     false  495366618818830336
10    false  532206910796468224
11    false  560187970389819392
...     ...                 ...
1480   true  528242965915779072
1481   true  407205235682050048
1482   true  508002575858561024
1484   true  427780584979836929
1488  false  523098334421319680

[742 rows x 2 columns]

## Getting Maximum Length Of Rumors That Is True For Twitter 15

In [13]:
# df_filtered_true = df_filtered[df_filtered['Label'].isin(['true'])]
# len(df_filtered_true['SourceTweetID'].unique())
rumor_tweet_id= df_filtered['SourceTweetID'].unique()
# len(df_filtered_true['SourceTweetID'])

In [14]:
int("517850508380618752")  in rumor_tweet_id

True

In [15]:
import os
import pandas as pd

# Define the path to your folder containing files
folder_path ='./Data/twitter15/tree' #'./Data/testtree'


# Initialize empty lists to store the extracted data
sender_uid = []
sender_tweet_id = []
sender_post_time_delay = []
receiver_uid = []
receiver_tweet_id = []
receiver_post_time_delay = []
counter=0
# Iterate through the files in the folder
for filename in os.listdir(folder_path):
#     counter=counter+1
#     if counter>10000:
#         break
    file_path = os.path.join(folder_path, filename)
    if int(filename.replace(".txt","")) in rumor_tweet_id: 
        #print(filename.replace(".txt","") ,' is present')
            # Open and read each file
        with open(file_path, 'r') as file:
            for line in file:
                # Split the line to extract the sender and receiver data
                sender_data, receiver_data = line.strip().split('->')

                sender_values = sender_data.strip('[]').replace("'", "").split(', ')
                receiver_values = receiver_data.strip('[]').replace("'", "").split(', ')

                sender_uid.append(sender_values[0])
                sender_tweet_id.append(sender_values[1])
                sender_post_time_delay.append(float(sender_values[2]))

                receiver_uid.append(receiver_values[0])
                receiver_tweet_id.append(receiver_values[1])
                receiver_post_time_delay.append(float(receiver_values[2]))
        
    #else: 
        #print(filename.replace(".txt","") ,' is NOT present')
    
    


# Create a DataFrame from the extracted data
df_Joined = pd.DataFrame({
    'sender_uid': sender_uid,
    'sender_tweet_id': sender_tweet_id,
    'sender_post_time_delay': sender_post_time_delay,
    'receiver_uid': receiver_uid,
    'receiver_tweet_id': receiver_tweet_id,
    'receiver_post_time_delay': receiver_post_time_delay
})
df_Joined = df_Joined[df_Joined['sender_uid'] != 'ROOT']
# Print the DataFrame
df_Joined

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay
1,39364684,265953285247209472,0.00,21061006,265953402234748928,0.45
2,39364684,265953285247209472,0.00,18513522,265953502839308289,0.85
3,39364684,265953285247209472,0.00,38251731,265953577145614336,1.15
4,39364684,265953285247209472,0.00,22369434,265953587149021185,1.20
5,39364684,265953285247209472,0.00,98928660,265953639959506944,1.40
...,...,...,...,...,...,...
257421,24767833,91728807081426944,2372812.17,152746927,91728807081426944,2437586.77
257422,251183505,91728807081426944,2372738.45,114914347,91728807081426944,2437688.90
257423,170886667,91728807081426944,0.00,2875882289,91728807081426944,2437696.77
257424,3313577574,91728807081426944,2373153.65,502385408,91728807081426944,2453166.52
257425,68085767,91728807081426944,2371744.07,161743577,91728807081426944,2675420.55

In [16]:
# df_filtered_true["sender_tweet_id"].unique()

In [17]:
grouped_df_Joined = df_Joined.groupby("sender_tweet_id").size().reset_index(name="count")
grouped_df_Joined = grouped_df_Joined.sort_values(by="count", ascending=False)
grouped_df_Joined

         sender_tweet_id  count
4123  552112474913136641   2936
1994  519867098945044480   2877
2959  527162170531151872   2794
4225  553061846081896449   2630
625   489812926828924928   2538
...                  ...    ...
2091  521728075068112896      1
2092  521728144932610049      1
2093  521728193838211074      1
2094  521728270539448320      1
2342  523874548656394240      1

[4684 rows x 2 columns]

In [18]:
# Convert the 'column_name' from str to int
grouped_df_Joined['sender_tweet_id'] = pd.to_numeric(grouped_df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
grouped_df_Joined

         sender_tweet_id  count
4123  552112474913136641   2936
1994  519867098945044480   2877
2959  527162170531151872   2794
4225  553061846081896449   2630
625   489812926828924928   2538
...                  ...    ...
2091  521728075068112896      1
2092  521728144932610049      1
2093  521728193838211074      1
2094  521728270539448320      1
2342  523874548656394240      1

[4684 rows x 2 columns]

In [19]:
merged_df = pd.merge(grouped_df_Joined, df_filtered, left_on='sender_tweet_id', right_on='SourceTweetID', how='inner')
merged_df.head(25)

       sender_tweet_id  count  Label       SourceTweetID
0   552112474913136641   2936  false  552112474913136641
1   519867098945044480   2877  false  519867098945044480
2   527162170531151872   2794   true  527162170531151872
3   553061846081896449   2630  false  553061846081896449
4   489812926828924928   2538  false  489812926828924928
5   407177474788057088   2536   true  407177474788057088
6   376874273601630208   2395  false  376874273601630208
7   499679379820412928   2262   true  499679379820412928
8   295944137948151809   1985  false  295944137948151809
9   537377960471166976   1857  false  537377960471166976
10  407198615137181696   1826   true  407198615137181696
11  560442390805090307   1750  false  560442390805090307
12  489794593580650497   1682  false  489794593580650497
13  504433135036407808   1610  false  504433135036407808
14  532281981795848192   1585  false  532281981795848192
15  523888836456108032   1577   true  523888836456108032
16  520299904934371328   1554   true  520299904934371328
17  407164597511393280   1500   true  407164597511393280
18  376982539132366848   1493  false  376982539132366848
19  525024181218725888   1476   true  525024181218725888
20  538408710084001793   1450   true  538408710084001793
21  521727831307722753   1425  false  521727831307722753
22  523863683928457216   1423   true  523863683928457216
23  489794369487380480   1388  false  489794369487380480
24  514512849876836352   1366  false  514512849876836352

In [20]:
count = (merged_df['Label'].head(25) == 'false').sum()
count

15

In [21]:
md("### Count Of Top 25 Super Spreaders That Is False Rumours In Twitter15:  %i "%(count))

### Count Of Top 25 Super Spreaders That Is False Rumours In Twitter15:  15

In [22]:
md("### Top Super Spreaders In Twitter15:  %s "%(merged_df['Label'][0]))

### Top Super Spreaders In Twitter15:  false