# Basic Reproduction Number

Basic Reproduction Number is the average number of secondary infections that can be generated by a single infected individual

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown as md

tweetSet='twitter16'
# Define the path to your text file
#file_path = './Data/twitter16/label.txt'
file_path = './Data/'+tweetSet+'/label.txt'

# Initialize empty lists to store the data
labels = []
values = []

# Read the file line by line and extract the data
with open(file_path, 'r') as file:
    for line in file:
        line = line.strip()  # Remove any leading/trailing whitespace
        label, value = line.split(':')  # Split the line into label and value
        labels.append(label)
        values.append(int(value))  # Convert the value to an integer

# Create a DataFrame from the lists
df = pd.DataFrame({'Label': labels, 'SourceTweetID': values})

# Optionally, you can filter the DataFrame based on specific labels:
#df_filtered = df[df['Label'].isin(['true', 'false'])]
df = df[df['Label'].isin(['true', 'false'])]
df_filtered =df.copy()

df_filtered['Label'] = df['Label'].str.lower().replace({'true': True, 'false': False})

distinct_labels = df['Label'].unique()
print(distinct_labels)

# Display the DataFrame
df_filtered

['false' 'true']

     Label       SourceTweetID
0    False  656955120626880512
1     True  615689290706595840
2    False  613404935003217920
5     True  614467824313106432
9    False  622891631293935616
..     ...                 ...
799   True  552806757672964097
801   True  544350567183556608
805   True  614593386188828672
811   True  650046859537448960
814   True  544269749405097984

[412 rows x 2 columns]

In [2]:


#df_filtered['Label']=df_filtered['Label'].astype(bool)
df_filtered_dict = df_filtered.set_index('SourceTweetID')['Label'].to_dict()
df_filtered_dict[656955120626880512]
# bool(dict_of_lists[656955120626880512])

False

In [3]:
# df_filtered_true = df_filtered[df_filtered['Label'].isin(['true'])]
# len(df_filtered_true['SourceTweetID'].unique())
rumor_tweet_id= df_filtered['SourceTweetID'].unique()
# len(df_filtered_true['SourceTweetID'])

In [4]:
import os
import pandas as pd

# Define the path to your folder containing files
folder_path ='./Data/'+tweetSet+'/tree' #'./Data/testtree'


# Initialize empty lists to store the extracted data
sender_uid = []
sender_tweet_id = []
sender_post_time_delay = []
receiver_uid = []
receiver_tweet_id = []
receiver_post_time_delay = []
tweet_label=[]
counter=0
# Iterate through the files in the folder
for filename in os.listdir(folder_path):
#     counter=counter+1
#     if counter>10000:
#         break
    file_path = os.path.join(folder_path, filename)
    if int(filename.replace(".txt","")) in rumor_tweet_id: 
        #print(filename.replace(".txt","") ,' is present')
            # Open and read each file
        with open(file_path, 'r') as file:
            for line in file:
                # Split the line to extract the sender and receiver data
                sender_data, receiver_data = line.strip().split('->')

                sender_values = sender_data.strip('[]').replace("'", "").split(', ')
                receiver_values = receiver_data.strip('[]').replace("'", "").split(', ')

                sender_uid.append(sender_values[0])
                sender_tweet_id.append(sender_values[1])
                sender_post_time_delay.append(float(sender_values[2]))

                receiver_uid.append(receiver_values[0])
                receiver_tweet_id.append(receiver_values[1])
                receiver_post_time_delay.append(float(receiver_values[2]))
                
                #print(int(filename.replace(".txt","")))
                tweet_label.append(df_filtered_dict[int(filename.replace(".txt",""))])
    #else: 
        #print(filename.replace(".txt","") ,' is NOT present')
    
    


# Create a DataFrame from the extracted data
df_Joined = pd.DataFrame({
    'sender_uid': sender_uid,
    'sender_tweet_id': sender_tweet_id,
    'sender_post_time_delay': sender_post_time_delay,
    'receiver_uid': receiver_uid,
    'receiver_tweet_id': receiver_tweet_id,
    'receiver_post_time_delay': receiver_post_time_delay,
    'tweet_label':tweet_label
})
dfRoot=df_Joined[df_Joined['sender_uid'] == 'ROOT']
df_Joined = df_Joined[df_Joined['sender_uid'] != 'ROOT']
# Print the DataFrame
df_Joined

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
1,24165761,498430783699554305,0.0,33164207,498430783699554305,0.30,True
2,24165761,498430783699554305,0.0,203957378,498430783699554305,1.00,True
3,24165761,498430783699554305,0.0,475947737,498430783699554305,1.00,True
4,24165761,498430783699554305,0.0,367810627,498430783699554305,2.70,True
5,24165761,498430783699554305,0.0,144351126,498430783699554305,2.85,True
...,...,...,...,...,...,...,...
161999,972651,681767380305985536,0.0,34294546,681767380305985536,626.48,False
162000,972651,681767380305985536,0.0,19058535,681767380305985536,1644.97,False
162001,972651,681767380305985536,0.0,20732140,681767380305985536,2088.33,False
162002,972651,681767380305985536,0.0,2185248516,681767380305985536,2121.45,False
162003,972651,681767380305985536,0.0,138118047,681767380305985536,3289.62,False

In [5]:
dfRoot

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,ROOT,ROOT,0.0,24165761,498430783699554305,0.0,True
273,ROOT,ROOT,0.0,16116288,500378223977721856,0.0,True
366,ROOT,ROOT,0.0,44685373,524922729485848576,0.0,True
483,ROOT,ROOT,0.0,247412653,524923462398513152,0.0,True
642,ROOT,ROOT,0.0,42896073,524923676484177920,0.0,True
...,...,...,...,...,...,...,...
161107,ROOT,ROOT,0.0,13049362,676718762830221312,0.0,False
161287,ROOT,ROOT,0.0,28785486,676870737932742656,0.0,False
161472,ROOT,ROOT,0.0,28785486,677099574855639044,0.0,False
161598,ROOT,ROOT,0.0,16331010,681147789653356544,0.0,True
161891,ROOT,ROOT,0.0,972651,681767380305985536,0.0,False

In [6]:
dfRoot['receiver_tweet_id'] = pd.to_numeric(dfRoot['receiver_tweet_id'], errors='coerce', downcast='integer')
dfRoot

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,ROOT,ROOT,0.0,24165761,498430783699554305,0.0,True
273,ROOT,ROOT,0.0,16116288,500378223977721856,0.0,True
366,ROOT,ROOT,0.0,44685373,524922729485848576,0.0,True
483,ROOT,ROOT,0.0,247412653,524923462398513152,0.0,True
642,ROOT,ROOT,0.0,42896073,524923676484177920,0.0,True
...,...,...,...,...,...,...,...
161107,ROOT,ROOT,0.0,13049362,676718762830221312,0.0,False
161287,ROOT,ROOT,0.0,28785486,676870737932742656,0.0,False
161472,ROOT,ROOT,0.0,28785486,677099574855639044,0.0,False
161598,ROOT,ROOT,0.0,16331010,681147789653356544,0.0,True
161891,ROOT,ROOT,0.0,972651,681767380305985536,0.0,False

In [7]:

df_filtered=pd.merge(df_filtered, dfRoot, left_on='SourceTweetID', right_on='receiver_tweet_id', how='inner')[['SourceTweetID', 'Label', 'receiver_uid']]
#df_filtered = df_filtered.reset_index(drop=True)
df_filtered = df_filtered.rename(columns={'receiver_uid': 'sender_uid'})

# df_filtered['sender_tweet_id'] = pd.to_numeric(df_filtered['sender_tweet_id'], errors='coerce', downcast='integer')
# df_filtered
df_filtered

          SourceTweetID  Label  sender_uid
0    656955120626880512  False  1942819082
1    615689290706595840   True    44945327
2    613404935003217920  False    14511951
3    614467824313106432   True   605822673
4    622891631293935616  False    26900055
..                  ...    ...         ...
407  552806757672964097   True    15754281
408  544350567183556608   True    25210650
409  614593386188828672   True    28785486
410  650046859537448960   True      807095
411  544269749405097984   True    15250661

[412 rows x 3 columns]

In [8]:
df_filtered['sender_uid'] = pd.to_numeric(df_filtered['sender_uid'], errors='coerce', downcast='integer')
df_filtered['SourceTweetID'] = pd.to_numeric(df_filtered['SourceTweetID'], errors='coerce', downcast='integer')

df_Joined['sender_tweet_id'] = pd.to_numeric(df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
df_Joined['sender_uid'] = pd.to_numeric(df_Joined['sender_uid'], errors='coerce', downcast='integer')

In [9]:
df_filtered_Joined= pd.merge(df_filtered, df_Joined, left_on=['SourceTweetID','sender_uid'], right_on=['sender_tweet_id','sender_uid'], how='inner') #[['SourceTweetID', 'Label', 'receiver_uid']]
df_filtered_Joined = df_filtered_Joined.reset_index(drop=True)
df_filtered_Joined
#df_filtered_Joined[(df_filtered_Joined['sender_tweet_id']==656955120626880512) & (df_filtered_Joined['sender_uid']==86174638) ]
#df_filtered_Joined[df_filtered_Joined[sender_tweet_id=='656955120626880512']]

,SourceTweetID,Label,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,656955120626880512,False,1942819082,656955120626880512,0.0,1525890199,656955120626880512,0.33,False
1,656955120626880512,False,1942819082,656955120626880512,0.0,2352403130,656955120626880512,0.33,False
2,656955120626880512,False,1942819082,656955120626880512,0.0,287228924,656955120626880512,0.67,False
3,656955120626880512,False,1942819082,656955120626880512,0.0,737205018,656955120626880512,0.83,False
4,656955120626880512,False,1942819082,656955120626880512,0.0,1594199425,656955120626880512,0.92,False
...,...,...,...,...,...,...,...,...,...
107603,544269749405097984,True,15250661,544269749405097984,0.0,23180169,544269749405097984,531.58,True
107604,544269749405097984,True,15250661,544269749405097984,0.0,174018564,544269749405097984,574.60,True
107605,544269749405097984,True,15250661,544269749405097984,0.0,1047266456,544269749405097984,677.60,True
107606,544269749405097984,True,15250661,544269749405097984,0.0,1186916395,544269749405097984,793.38,True
107607,544269749405097984,True,15250661,544269749405097984,0.0,1063076700,544269749405097984,1110.08,True

In [10]:
# df_Joined=df_Joined[  df_Joined['receiver_post_time_delay']<0]
# df_Joined

In [11]:
grouped_df_Joined = df_filtered_Joined.groupby("sender_tweet_id").size().reset_index(name="count")
grouped_df_Joined = grouped_df_Joined.sort_values(by="count", ascending=False)
grouped_df_Joined

        sender_tweet_id  count
290  654343805081157633   1947
204  619242759359037440   1864
120  553587013409325058   1616
396  674364257799004160   1616
285  651959206287908868   1556
..                  ...    ...
14   524942470472548352     32
100  552832817089236992     31
304  656834590779289600     31
20   524962142563610625     26
229  629503919098429440     24

[412 rows x 2 columns]

In [12]:
# Convert the 'column_name' from str to int
grouped_df_Joined['sender_tweet_id'] = pd.to_numeric(grouped_df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
grouped_df_Joined

        sender_tweet_id  count
290  654343805081157633   1947
204  619242759359037440   1864
120  553587013409325058   1616
396  674364257799004160   1616
285  651959206287908868   1556
..                  ...    ...
14   524942470472548352     32
100  552832817089236992     31
304  656834590779289600     31
20   524962142563610625     26
229  629503919098429440     24

[412 rows x 2 columns]

In [13]:
merged_df = pd.merge(grouped_df_Joined, df_filtered, left_on='sender_tweet_id', right_on='SourceTweetID', how='inner')
merged_df.tail(20)

        sender_tweet_id  count       SourceTweetID  Label  sender_uid
392  604354747357859842     56  604354747357859842  False   623611206
393  553543369604210689     56  553543369604210689   True   747822822
394  644229386149888001     56  644229386149888001  False    18284815
395  544289311504355328     53  544289311504355328   True    74361628
396  524965775036387329     53  524965775036387329   True   171606833
397  544514564407427072     51  544514564407427072   True  1960878613
398  553544694765215745     49  553544694765215745   True     9651232
399  553221600955621376     49  553221600955621376   True  2779009591
400  544515538383564801     49  544515538383564801   True    42407972
401  552802654641225728     46  552802654641225728   True  2461887810
402  633823543541768192     46  633823543541768192  False  2301512587
403  525025279803424768     43  525025279803424768   True     6038642
404  544513524438155264     42  544513524438155264   True      788524
405  658259426172891136     42  658259426172891136  False   180524193
406  544382892378714113     35  544382892378714113   True  1020058453
407  524942470472548352     32  524942470472548352   True    19881665
408  552832817089236992     31  552832817089236992   True   372502604
409  656834590779289600     31  656834590779289600  False   205789121
410  524962142563610625     26  524962142563610625   True   957502914
411  629503919098429440     24  629503919098429440  False  1547119022

In [14]:
average_counts = merged_df.groupby('Label')['count'].mean()
average_counts

Label
False    258.575610
True     263.768116
Name: count, dtype: float64

In [15]:
# Access the average count for True and False
average_true = average_counts[True]
average_false = average_counts[False]

print("Average count for True:", average_true)
print("Average count for False:", average_false)

Average count for True: 263.768115942029
Average count for False: 258.57560975609755

# Twitter 15

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown as md

tweetSet='twitter15'
# Define the path to your text file
#file_path = './Data/twitter16/label.txt'
file_path = './Data/'+tweetSet+'/label.txt'

# Initialize empty lists to store the data
labels = []
values = []

# Read the file line by line and extract the data
with open(file_path, 'r') as file:
    for line in file:
        line = line.strip()  # Remove any leading/trailing whitespace
        label, value = line.split(':')  # Split the line into label and value
        labels.append(label)
        values.append(int(value))  # Convert the value to an integer

# Create a DataFrame from the lists
df = pd.DataFrame({'Label': labels, 'SourceTweetID': values})

# Optionally, you can filter the DataFrame based on specific labels:
#df_filtered = df[df['Label'].isin(['true', 'false'])]
df = df[df['Label'].isin(['true', 'false'])]
df_filtered =df.copy()

df_filtered['Label'] = df['Label'].str.lower().replace({'true': True, 'false': False})

distinct_labels = df['Label'].unique()
print(distinct_labels)

# Display the DataFrame
df_filtered

['true' 'false']

      Label       SourceTweetID
4      True  551099691702956032
7      True  514106273852174337
9     False  495366618818830336
10    False  532206910796468224
11    False  560187970389819392
...     ...                 ...
1480   True  528242965915779072
1481   True  407205235682050048
1482   True  508002575858561024
1484   True  427780584979836929
1488  False  523098334421319680

[742 rows x 2 columns]

In [17]:


#df_filtered['Label']=df_filtered['Label'].astype(bool)
df_filtered_dict = df_filtered.set_index('SourceTweetID')['Label'].to_dict()

# bool(dict_of_lists[656955120626880512])

## Getting Maximum Length Of Rumors That Is True For Twitter 16

In [18]:
# df_filtered_true = df_filtered[df_filtered['Label'].isin(['true'])]
# len(df_filtered_true['SourceTweetID'].unique())
rumor_tweet_id= df_filtered['SourceTweetID'].unique()
# len(df_filtered_true['SourceTweetID'])

In [19]:
import os
import pandas as pd

# Define the path to your folder containing files
folder_path ='./Data/'+tweetSet+'/tree' #'./Data/testtree'


# Initialize empty lists to store the extracted data
sender_uid = []
sender_tweet_id = []
sender_post_time_delay = []
receiver_uid = []
receiver_tweet_id = []
receiver_post_time_delay = []
tweet_label=[]
counter=0
# Iterate through the files in the folder
for filename in os.listdir(folder_path):
#     counter=counter+1
#     if counter>10000:
#         break
    file_path = os.path.join(folder_path, filename)
    if int(filename.replace(".txt","")) in rumor_tweet_id: 
        #print(filename.replace(".txt","") ,' is present')
            # Open and read each file
        with open(file_path, 'r') as file:
            for line in file:
                # Split the line to extract the sender and receiver data
                sender_data, receiver_data = line.strip().split('->')

                sender_values = sender_data.strip('[]').replace("'", "").split(', ')
                receiver_values = receiver_data.strip('[]').replace("'", "").split(', ')

                sender_uid.append(sender_values[0])
                sender_tweet_id.append(sender_values[1])
                sender_post_time_delay.append(float(sender_values[2]))

                receiver_uid.append(receiver_values[0])
                receiver_tweet_id.append(receiver_values[1])
                receiver_post_time_delay.append(float(receiver_values[2]))
                
                #print(int(filename.replace(".txt","")))
                tweet_label.append(df_filtered_dict[int(filename.replace(".txt",""))])
    #else: 
        #print(filename.replace(".txt","") ,' is NOT present')
    
    


# Create a DataFrame from the extracted data
df_Joined = pd.DataFrame({
    'sender_uid': sender_uid,
    'sender_tweet_id': sender_tweet_id,
    'sender_post_time_delay': sender_post_time_delay,
    'receiver_uid': receiver_uid,
    'receiver_tweet_id': receiver_tweet_id,
    'receiver_post_time_delay': receiver_post_time_delay,
    'tweet_label':tweet_label
})
dfRoot=df_Joined[df_Joined['sender_uid'] == 'ROOT']
df_Joined = df_Joined[df_Joined['sender_uid'] != 'ROOT']
# Print the DataFrame
df_Joined

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
1,39364684,265953285247209472,0.00,21061006,265953402234748928,0.45,False
2,39364684,265953285247209472,0.00,18513522,265953502839308289,0.85,False
3,39364684,265953285247209472,0.00,38251731,265953577145614336,1.15,False
4,39364684,265953285247209472,0.00,22369434,265953587149021185,1.20,False
5,39364684,265953285247209472,0.00,98928660,265953639959506944,1.40,False
...,...,...,...,...,...,...,...
257421,24767833,91728807081426944,2372812.17,152746927,91728807081426944,2437586.77,False
257422,251183505,91728807081426944,2372738.45,114914347,91728807081426944,2437688.90,False
257423,170886667,91728807081426944,0.00,2875882289,91728807081426944,2437696.77,False
257424,3313577574,91728807081426944,2373153.65,502385408,91728807081426944,2453166.52,False
257425,68085767,91728807081426944,2371744.07,161743577,91728807081426944,2675420.55,False

In [20]:
dfRoot

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,ROOT,ROOT,0.0,39364684,265953285247209472,0.0,False
212,ROOT,ROOT,0.0,14075928,273182568298450945,0.0,False
566,ROOT,ROOT,0.0,14075928,273278761909239808,0.0,False
952,ROOT,ROOT,0.0,20003448,295152287901417472,0.0,True
1055,ROOT,ROOT,0.0,1109500842,295944137948151809,0.0,False
...,...,...,...,...,...,...,...
255914,ROOT,ROOT,0.0,28785486,574004164570841088,0.0,True
256077,ROOT,ROOT,0.0,28785486,574062768896212992,0.0,True
256308,ROOT,ROOT,0.0,972651,80080680482123777,0.0,False
256409,ROOT,ROOT,0.0,972651,80084555733803009,0.0,False
256575,ROOT,ROOT,0.0,170886667,91728807081426944,0.0,False

In [21]:
dfRoot['receiver_tweet_id'] = pd.to_numeric(dfRoot['receiver_tweet_id'], errors='coerce', downcast='integer')
dfRoot

,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,ROOT,ROOT,0.0,39364684,265953285247209472,0.0,False
212,ROOT,ROOT,0.0,14075928,273182568298450945,0.0,False
566,ROOT,ROOT,0.0,14075928,273278761909239808,0.0,False
952,ROOT,ROOT,0.0,20003448,295152287901417472,0.0,True
1055,ROOT,ROOT,0.0,1109500842,295944137948151809,0.0,False
...,...,...,...,...,...,...,...
255914,ROOT,ROOT,0.0,28785486,574004164570841088,0.0,True
256077,ROOT,ROOT,0.0,28785486,574062768896212992,0.0,True
256308,ROOT,ROOT,0.0,972651,80080680482123777,0.0,False
256409,ROOT,ROOT,0.0,972651,80084555733803009,0.0,False
256575,ROOT,ROOT,0.0,170886667,91728807081426944,0.0,False

In [22]:

df_filtered=pd.merge(df_filtered, dfRoot, left_on='SourceTweetID', right_on='receiver_tweet_id', how='inner')[['SourceTweetID', 'Label', 'receiver_uid']]
#df_filtered = df_filtered.reset_index(drop=True)
df_filtered = df_filtered.rename(columns={'receiver_uid': 'sender_uid'})

# df_filtered['sender_tweet_id'] = pd.to_numeric(df_filtered['sender_tweet_id'], errors='coerce', downcast='integer')
# df_filtered
df_filtered

          SourceTweetID  Label  sender_uid
0    551099691702956032   True     2883841
1    514106273852174337   True    14173315
2    495366618818830336  False   138102228
3    532206910796468224  False    20562637
4    560187970389819392  False   168541923
..                  ...    ...         ...
736  528242965915779072   True  2313227480
737  407205235682050048   True   124543920
738  508002575858561024   True     1652541
739  427780584979836929   True    87818409
740  523098334421319680  False   732773016

[741 rows x 3 columns]

In [23]:
df_filtered['sender_uid'] = pd.to_numeric(df_filtered['sender_uid'], errors='coerce', downcast='integer')
df_filtered['SourceTweetID'] = pd.to_numeric(df_filtered['SourceTweetID'], errors='coerce', downcast='integer')

df_Joined['sender_tweet_id'] = pd.to_numeric(df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
df_Joined['sender_uid'] = pd.to_numeric(df_Joined['sender_uid'], errors='coerce', downcast='integer')

In [24]:
df_filtered_Joined= pd.merge(df_filtered, df_Joined, left_on=['SourceTweetID','sender_uid'], right_on=['sender_tweet_id','sender_uid'], how='inner') #[['SourceTweetID', 'Label', 'receiver_uid']]
df_filtered_Joined = df_filtered_Joined.reset_index(drop=True)
df_filtered_Joined
#df_filtered_Joined[(df_filtered_Joined['sender_tweet_id']==656955120626880512) & (df_filtered_Joined['sender_uid']==86174638) ]
#df_filtered_Joined[df_filtered_Joined[sender_tweet_id=='656955120626880512']]

,SourceTweetID,Label,sender_uid,sender_tweet_id,sender_post_time_delay,receiver_uid,receiver_tweet_id,receiver_post_time_delay,tweet_label
0,551099691702956032,True,2883841,551099691702956032,0.0,780992342,551099744441741313,0.20,True
1,551099691702956032,True,2883841,551099691702956032,0.0,784659810,551099691702956032,0.88,True
2,551099691702956032,True,2883841,551099691702956032,0.0,962684082,551099691702956032,0.88,True
3,551099691702956032,True,2883841,551099691702956032,0.0,20953256,551099691702956032,0.88,True
4,551099691702956032,True,2883841,551099691702956032,0.0,2614608612,551099691702956032,0.88,True
...,...,...,...,...,...,...,...,...,...
192558,523098334421319680,False,732773016,523098334421319680,0.0,2463843150,523098334421319680,353.68,False
192559,523098334421319680,False,732773016,523098334421319680,0.0,1002555114,523098334421319680,354.10,False
192560,523098334421319680,False,732773016,523098334421319680,0.0,1651821169,523098334421319680,357.75,False
192561,523098334421319680,False,732773016,523098334421319680,0.0,2285335807,523098334421319680,361.07,False
192562,523098334421319680,False,732773016,523098334421319680,0.0,2426152592,523098334421319680,362.27,False

In [25]:
# df_Joined=df_Joined[  df_Joined['receiver_post_time_delay']<0]
# df_Joined

In [26]:
grouped_df_Joined = df_filtered_Joined.groupby("sender_tweet_id").size().reset_index(name="count")
grouped_df_Joined = grouped_df_Joined.sort_values(by="count", ascending=False)
grouped_df_Joined

        sender_tweet_id  count
503  527162170531151872   2500
666  552112474913136641   2286
40   376874273601630208   2278
678  553061846081896449   2228
363  519867098945044480   2090
..                  ...    ...
408  524178388282802176     43
687  553190393370923008     41
81   407173794583695360     30
235  504304227246538752     21
355  519178213441167360     20

[741 rows x 2 columns]

In [27]:
# Convert the 'column_name' from str to int
grouped_df_Joined['sender_tweet_id'] = pd.to_numeric(grouped_df_Joined['sender_tweet_id'], errors='coerce', downcast='integer')
grouped_df_Joined

        sender_tweet_id  count
503  527162170531151872   2500
666  552112474913136641   2286
40   376874273601630208   2278
678  553061846081896449   2228
363  519867098945044480   2090
..                  ...    ...
408  524178388282802176     43
687  553190393370923008     41
81   407173794583695360     30
235  504304227246538752     21
355  519178213441167360     20

[741 rows x 2 columns]

In [28]:
merged_df = pd.merge(grouped_df_Joined, df_filtered, left_on='sender_tweet_id', right_on='SourceTweetID', how='inner')
merged_df.tail(20)

        sender_tweet_id  count       SourceTweetID  Label  sender_uid
721  356268980211687424     60  356268980211687424  False   139255910
722  523939598691741696     60  523939598691741696   True    58524428
723  518192429153783808     58  518192429153783808  False    17076385
724  531568534066057217     58  531568534066057217  False  1114067306
725  523535962962280448     56  523535962962280448  False    87940072
726  514535408126795776     56  514535408126795776  False    23055689
727  539813330983354368     54  539813330983354368  False   373791638
728  407209892013821952     53  407209892013821952   True   308850792
729  518620083342835712     52  518620083342835712  False      754485
730  407244865018155008     50  407244865018155008   True   372475409
731  514451906211893248     49  514451906211893248   True   430048955
732  407185422523977728     45  407185422523977728   True    95246658
733  504106473467944960     45  504106473467944960   True    25470710
734  535474861616148480     44  535474861616148480   True    16630960
735  407218583135997953     43  407218583135997953   True    36780425
736  524178388282802176     43  524178388282802176  False  1430400949
737  553190393370923008     41  553190393370923008  False  2789038870
738  407173794583695360     30  407173794583695360   True    44688778
739  504304227246538752     21  504304227246538752   True    15754281
740  519178213441167360     20  519178213441167360   True   468082397

In [29]:
average_counts = merged_df.groupby('Label')['count'].mean()
average_counts

Label
False    268.571816
True     251.236559
Name: count, dtype: float64

In [30]:
# Access the average count for True and False
average_true = average_counts[True]
average_false = average_counts[False]

print("Average count for True:", average_true)
print("Average count for False:", average_false)

Average count for True: 251.23655913978496
Average count for False: 268.57181571815715